<html>
<head>
	<title>Who to hoot?</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
	<!--Trigger button-->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Hoot!</button>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      	<h4 class="modal-title">Who to hoot?</h4>
			    </div>
			    <form action="hoot">
			    <div class="modal-body">
				    <div class="form-group">
				        Name:
				        <input type="text" class="form-control" name="name"></label></p>

				        Dorm:
				        <select class="form-control" name="dorm">
        					<option value="Brecon">Brecon</option>
        					<option value="Denbigh">Denbigh</option>
        					<option value="Denbigh">Haffner</option>
        					<option value="Erdman">Erdman</option>
        					<option value="Merion">Merion</option>
        					<option value="Pembroke East">Pembroke East</option>
        					<option value="Pembroke West">Pembroke West</option>
        					<option value="Radnor">Radnor</option>
        					<option value="Rhoads South">Rhoads South</option>
        					<option value="Rockefeller">Rockefeller</option>
        				</select>

        				Floor:
        				<select name="floor" class="form-control">
        					<option value="Basement">Basement</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
						</select>
				    </div>
			    </div>
			    
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    	<button type="submit" class="btn btn-primary">Who to hoot?</button>
			    </div>
			    </form>
		    </div>
		</div>
	</div><!--End trigger button and modal-->

	{{name}}
	{{dorm}}
	{{floor}}

</body>
<script>
</script>
</html>