<html>
<head>
	<title>Who to hoot?</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<style>
#logo2 {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
</style>
<body>

	<!--Trigger button-->
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Hoot!</button>
	
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			      	<h4 class="modal-title">Who to hoot?</h4>
			    </div>
			    <form action="hoot">
			    <div class="modal-body">
				    <div class="form-group">
				        Name:
				        <input type="text" class="form-control" name="name"></label></p>
				    </div>
			    </div>
			    
			    <div class="modal-footer">
			    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			    	<button type="submit" class="btn btn-primary">Who to hoot?</button>
			    </div>
			    </form>
		    </div>
		</div>
	</div>

	Name: {{name}}

</body>
<script>
</script>
</html>